

<body>
    <%- include ("../partials/header.ejs") %>
    <h1>Id for artiklen: <%= article[0].id %></h1>
    <h2>Title: <%= article[0].title %></h2>
    <h3>Description: <%= article[0].description %> </h3>
    <img src= <%= article[0].image %> >
    <input type="text" id="comment-box" placeholder="Enter comment">
    <button id="post">Post</button>
    <ul id="unordered">
       
   </ul>
   
   <%- include ("../partials/footer.ejs") %>
    <script>
        var post= document.getElementById("post");
        post.addEventListener("click", function(){
        var commentBoxValue= document.getElementById("comment-box").value;

        var li = document.createElement("li");
        var text = document.createTextNode(commentBoxValue);
        li.appendChild(text);
        document.getElementById("unordered").appendChild(li);
        });
    </script>
</body>
