<%- include ("../partials/header.ejs") %>

<!-- Tjekker om artiklen eksisterer, else-statementet ligger i bunden-->
<% if(article){ %>
   <% let published = article.published_at.slice(0,10) %>
    
<div class="left-side" style="max-width: 800px; padding: 40px 80px">
    
    <!-- Viser artikelbillede og læsestatus -->
    <div class="article-picture" style="height: 300px; background-image: url(<%= article.image %>)">
        <% if (article.article_read == 1) { %>
            <div class="article-read">LÆST</div>
        <% } %>
    </div>
    <div class="article-metadata">
        <div style="width: 60%;">
            <!-- Viser artikelens titel og forfatter -->
            <p class="h2" id="article-title" style="margin-bottom: 15px"><%= article.title %></p>
            <p class="h3">Skrevet af: <%= article.author %></p>
        </div>
        <div style="text-align:right">
            <!-- Viser offentliggørelsesdato og kilde -->
            <p class="h3"><%= published %></p>
            <p class="h3"><%= article.source %></p>
        </div>
    </div>
    <div class="article-content" style="margin-bottom: 20px">
        <!-- Viser artikelindhold -->
        <p class="paragraph"><%= article.description %></p>
    </div>
    <div class="inner-header">

        <!-- Viser favoritknappen, hvis brugeren er logget ind -->
        <% if (user) { %>
            <% if (article.added_to_favorite == 1) { %>
                <button id="article-favorite" onclick="removeFromFavorite(<%= article.id %>)" style="all: unset"><span class="material-symbols-outlined article-favorite enabled-favorite">favorite</span></button>
            <% } else { %>
                <button id="article-favorite" onclick="addToFavorite(<%= article.id %>)" style="all: unset"><span class="material-symbols-rounded article-favorite">favorite</span></button>
            <% } %>
        <% } %>

        <!-- Viser knap til at gå til artikel -->
        <a id="article-url" target="_blank">
            <button class="btn btn-primary">
                Gå til artikel
            </button>
        </a>

    </div>

    <!-- Viser sektionen for kommentarer -->
    <div class="comments">
        <h3>Kommentarer</h3>
        <!-- Tjekker om der er nogen kommentarer -->
        <% if (comments.length > 0) { %>
            <% comments.forEach(comment => { %>
                <p class="h3"><%= comment.name %>: <span><%= comment.content %></span></p>
            <% }) %>
        <% } else { %>
            <p>Ingen kommentarer endnu</p>
        <% } %>
        
        <% if (user) { %>
            <form method="POST" style="margin-top:10px">
                <input type="text" name="comment" placeholder="Tilføj kommentar">
                <button type="submit">Send</button>
            </form>
        <% } else { %>
            <p class="paragraph">Log ind for at kommentere</p>
        <% } %>     
    </div>
</div>
<!-- Viser anbefalede artikler -->
<div class="right-side" style="display: flex; justify-content: center">
    <div id="more-articles" class="articles-recommended"></div>
</div>

<!-- Script for at åbne artikel i nyt vindue, tilføje eller fjerne fra favoritter -->
<script>
    let url = '<%= article.url %>';
    let linkTag = document.getElementById('article-url');

    linkTag.addEventListener('click', () => {
        window.open(url, '_blank');
        fetch('/article/' + '<%= article.id %>' + '/read', {method: 'GET'})
    });

    let favoriteBtn = document.getElementById('article-favorite');

    removeFromFavorite = (id) => {
        alert('Artikel fjernet fra favoritter');
        fetch('/article/' + id + '/removeFavorite', {method: 'GET'});
        favoriteBtn.childNodes[0].classList.remove('material-symbols-outlined');
        favoriteBtn.childNodes[0].classList.add('material-symbols-rounded');
        favoriteBtn.onclick = () => addToFavorite(id);
    }

    addToFavorite = (id) => {
        alert('Artikel tilføjet til favoritter');
        fetch('/article/' + id + '/favorite', {method: 'GET'});
        favoriteBtn.childNodes[0].classList.add('material-symbols-outlined');
        favoriteBtn.childNodes[0].classList.remove('material-symbols-rounded');
        favoriteBtn.onclick = () => removeFromFavorite(id);
    }

</script>
<!-- Hvis artiklen ikke findes -->
<% } else { %>
    <div style="display: flex; align-items: center; flex-direction: column;" >
        <h1>Ups!</h1>
    <h2>404 not found!</h2>
    <h3>Denne artikel eksisterer vidst/vist ikke</h3>
    </div>
    
<% } %>

<%- include ("../partials/footer.ejs") %>