<%- include ("../partials/header.ejs") %>

<div id="view" class="main">
    <div class="left-side" style="max-width: 800px;">
        <div id="news">
        <p class="h2">Favoritter</p>
        <% if (user) { %>
            <% if (articles.length > 0) { %>
                <% articles.forEach(article => { %>
                <div class="article-large">
                    <div class="banner" id="banner" style="background-image: linear-gradient(to bottom, transparent 30%, #363a558b 60%, #363a55e1 90%), url('<%= article.image %>');">
                        <div class="inner-banner">
                            <div class="banner-text">
                                <p class="banner-title" id="bannerTitle"><%= article.title %></p>
                                <p class="banner-publisher" id="bannerPublisher"> <%= article.source %></p>
                            </div>
                            <div class="banner-btn-section">
                                <a href="/article/<%= article.id %>"><button class="btn btn-secondary" id="bannerLink">Læs hele artiklen</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
                <div class="inner-header">
                    <button class="btn btn-secondary" id="loadMore" <%= user ? "" : "hidden" %>>Indlæs flere</button>
                </div>
            <% } else { %>
                <p>Du har ingen favoritartikler.</p>
            <% } %>
        <% } else { %>
            <p>Log ind for at se dine favoritartikler.</p>
        <% } %>
        </div>
    </div>
    <div class="right-side" style="display: flex; justify-content: center">
        <div style="width: 100%">
            <p class="h2">Kategorier</p>
            <div id="favorite-categories" class="favorite-categories">
                <% categories.forEach(element => { %>
                    <div style="display: flex; justify-content: center;">
                        <span style="width: 90%">
                            <a href="/category/<%= element.id %>"><button class="btn btn-primary"><%= element.name %></button></a>
                        </span>
                        <span style="display: flex; align-items: center; margin-left: 15px">
                        <% if (user) { %>
                            <% if (element.added_to_favorite == 1) { %>
                                <!-- Knappen for at fjerne denne kategori fra favoritter -->
                                <button id="favorite_btn_<%= element.id %>" onclick="removeFromFavoriteCategory(<%= element.id %>)" style="all: unset"><span class="material-symbols-outlined article-favorite">favorite</span></button>
                            <% } else { %>
                                <!-- Knappen for at tilføje denne kategori til favoritter -->
                                <button id="favorite_btn_<%= element.id %>" onclick="addToFavoriteCategory(<%= element.id %>)" style="all: unset"><span class="material-symbols-rounded article-favorite">favorite</span></button>
                            <% } %>
                        <% } %>
                        </span>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<script>

    let news = document.getElementById('news');
    let page = 1;

    // Hvis der er artikler i favoritterne
    if (<%= articles.length %> > 0) {
        let loadMore = document.getElementById('loadMore');

        // Hvis der er færre end 12 artikler, skjules knappen for at indlæse flere
        if (<%= articles.length %> < 12) {
            loadMore.style.visibility = 'hidden';
        }

        // Eventlistener til knappen for at indlæse flere artikler
        loadMore.addEventListener('click', async () => {
        let articles = document.querySelectorAll('.article-div');
        let newArticles = await fetch('/favorites/loadmore/' + page)
            .then(res => res.json());

        // Tilføjer de nye artikler til nyhedssektionen
        newArticles.forEach(article => {
            let articleDiv = document.createElement('div');
            articleDiv.classList.add('article-large');
            articleDiv.innerHTML = `
                <div class="banner" id="banner" style="background-image: linear-gradient(to bottom, transparent 30%, #363a558b 60%, #363a55e1 90%), url('${article.image}');">
                    <div class="inner-banner">
                        <div class="banner-text">
                            <p class="banner-title" id="bannerTitle">${article.title}</p>
                            <p class="banner-publisher" id="bannerPublisher">${article.source}</p>
                        </div>
                        <div class="banner-btn-section">
                            <a href="/article/${article.source}"><button class="btn btn-secondary" id="bannerLink">Læs hele artiklen</button></a>
                        </div>
                    </div>
                </div>
            `;
            news.appendChild(articleDiv);
        });

        page++;
        });
    }

    // Funktion for at fjerne en kategori fra favoritter
    const removeFromFavoriteCategory = (id) => {
        let favorite_btn = document.getElementById('favorite_btn_' + id)
        alert('Kategori fjernet fra favoritter');
        fetch('/favorites/categories/' + id + '/removeFavorite', {method: 'GET'});
        favorite_btn.childNodes[0].classList.remove('material-symbols-outlined');
        favorite_btn.childNodes[0].classList.add('material-symbols-rounded');
        favorite_btn.onclick = () => addToFavoriteCategory(id);
    }

    // Funktion for at tilføje en kategori fra favoritter
    const addToFavoriteCategory = (id) => {
        let favorite_btn = document.getElementById('favorite_btn_' + id)
        alert('Kategori tilføjet til favoritter');
        fetch('/favorites/categories/' + id + '/addFavorite', {method: 'GET'});
        favorite_btn.childNodes[0].classList.add('material-symbols-outlined');
        favorite_btn.childNodes[0].classList.remove('material-symbols-rounded');
        favorite_btn.onclick = () => removeFromFavoriteCategory(id);
    }
</script>

<%- include ("../partials/footer.ejs") %>