<%- include ("../partials/header.ejs") %>

<% let articleLarge = articles.shift() %>
<% categories = categories.filter(category => category.added_to_favorite == 1) %>

<div id="view" class="main">
    <div id="news" class="left-side">
        <% if (user) { %>
            <h1 class="h2">Velkommen <%= user.name %></p>
        <% } else { %>
            <p class="h2">Velkommen gæst</p>
        <% } %> 
        <div class="article-large">
            <div class="banner" id="banner" style="background-image: linear-gradient(to bottom, transparent 30%, #363a558b 60%, #363a55e1 90%), url('<%= articleLarge.image %>');">
                <div class="inner-banner">
                    <div class="banner-text">
                        <p class="banner-title" id="bannerTitle"><%= articleLarge.title %></p>
                        <p class="banner-publisher" id="bannerPublisher"> <%= articleLarge.source %></p>
                    </div>
                    <div class="banner-btn-section">
                        <a href="/article/<%= articleLarge.id %>"><button class="btn btn-secondary" id="bannerLink">Læs hele artiklen</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="articles-small" id="articles-small">
            <% for (let i = 0; i < 3; i++) { %>
                <div class="article-row">
                <% for (let j = 0; j < 3; j++) { %>
                    <div class="article-div"> 
                        <div class="article-picture" style="background-image: url('<%= articles[j+(i*3)].image %>')"></div> 
                        <div class="article-content">
                            <div class="article-title" style="cursor:default"><%= articles[j+(i*3)].title %></div>
                            <div class="article-misc">
                                <p class="article-publisher"><%= articles[j+(i*3)].source %></p>
                                <a href="/article/<%= articles[j+(i*3)].id %>"><button class="btn btn-primary readMoreBtn">Læs mere</button></a>
                            </div>
                        </div>
                    </div>
                <% } %>
                </div>
            <% } %>
        </div>
        <div class="inner-header">
            <button class="btn btn-secondary" id="loadMore">Indlæs flere</button>
        </div>
    </div>
    <div class="right-side">
        <div>
            <p class="h2">Tid</p>
            <div class="time-weather-container">
                <div>
                    <p class="date-timestamp" id="date"></p>
                    <p class="h2" id="timestamp"></p>
                    <p class="info-timestamp" id="timezone"></p>
                </div>
            </div>
        </div>
        <div>
            <p class="h2">Vejr</p>
            <div class="time-weather-container" style="margin-bottom: 10px">
                <div class="current-weather">
                    <div class="weather-inner" style="flex-wrap: wrap">
                        <span class="material-symbols-rounded" id="weatherIcon"><%= getCorrectIcon(weather_forecast[0].weathercode) %></span>
                        <p id="currentWeather"><%= weather_forecast[0].degrees %> &#8451</p>
                        <div>
                            <p class="info-timestamp" id="weatherLocation">København</p>
                        </div>
                    </div>
                </div>
                <div class="sun-div">
                    <div class="sun-div-inner">
                        <div>
                            <span class="material-symbols-rounded">sunny</span>
                        </div>
                        <div class="sun-div-text">
                            <p class="info-timestamp">Solopgang</p>
                            <p class="h2" id="sunrise"><%= weather_forecast[0].sunrise.toString().slice(15,21) %></p>
                        </div>
                    </div>
                    <div class="sun-div-inner">
                        <div>
                            <span class="material-symbols-rounded">dark_mode</span>
                        </div>
                        <div class="sun-div-text">
                            <p class="info-timestamp">Solnedgang</p>
                            <p class="h2" id="sunset"><%= weather_forecast[0].sunset.toString().slice(15,21) %></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="time-weather-container forecast">
                <p class="h2" style="font-size: 12px">De næste 7 dage</p>
                <div class="inner-forecast" id="forecast">
                    <% weather_forecast.forEach(day => { %>
                        <div class="forecast-day">
                            <% let date = day.date.toString().slice(0,11) %>
                            <p class="forecast-day-name"><%= date %></p>
                            <div class="forecast-day-inner">
                                <span class="material-symbols-rounded" id="forecastIcon"><%= getCorrectIcon(day.weathercode) %></span>
                                <p class="forecast-day-temp"><%= day.degrees %> &#8451</p>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
            <div style="display: flex; justify-content: center; margin-bottom: 40px;">
                <a href="/weather"><button class="btn btn-secondary">Se alt om vejr</button></a>
            </div>
        </div>
        <% if (categories.length > 0) { %>
        <div>
            <p class="h2">Favoritkategorier</p>
            <div class="time-weather-container" style="display: block;">
                <% categories.forEach(category => { %>
                    <a href="/category/<%= category.id %>"><button class="btn btn-secondary" style="margin: 10px;"><%= category.name %></button></a>
                <% }) %>
            </div>
        </div>
        <% } %>
    </div>
</div>
</div>
</div>

<script>

let loadMore = document.getElementById('loadMore');
let articlesSmall = document.getElementById('articles-small');
let page = 1;

loadMore.addEventListener('click', async () => {
    let articles = document.querySelectorAll('.article-div');
    let newArticles = await fetch('/articles/loadmore/' + page)
        .then(res => res.json());

    if (newArticles.length === 12) {
        for (let i = 0; i < 4; i++) {
            let row = document.createElement('div');
            row.classList.add('article-row');
            for (let j = 0; j < 3; j++) {
                let article = document.createElement('div');
                article.classList.add('article-div');
                article.innerHTML = `
                    <div class="article-picture" style="background-image: url('${newArticles[j+(i*3)].image}')"></div>
                    <div class="article-content">
                        <div class="article-title" style="cursor:default">${newArticles[j+(i*3)].title}</div>
                        <div class="article-misc">
                            <p class="article-publisher">${newArticles[j+(i*3)].source}</p>
                            <a href="/article/${newArticles[j+(i*3)].id}"><button class="btn btn-primary readMoreBtn">Læs mere</button></a>
                        </div>
                    </div>
                `;
                row.appendChild(article);
            }
            articlesSmall.appendChild(row);
        }
    }

    page++;
});

    // Denne funktion opdaterer timestampet for applikationen ved load af forsiden
function updateTimestamp() {
    let today = new Date();

    let hours = today.getHours() < 10 ? '0' + today.getHours(): today.getHours();
    let minutes = today.getMinutes() < 10 ? '0' + today.getMinutes(): today.getMinutes();
    let seconds = today.getSeconds() < 10 ? '0' + today.getSeconds(): today.getSeconds();

    document.getElementById('timestamp').textContent = `
        ${hours}:${minutes}:${seconds}
    `;
}

// Denne funktion opdaterer dagen og datoen for applikationen ved load af forsiden
function updateDate() {
    let today = new Date();

    const weekdays = ["Søndag", "Mandag", "Tirsdag", "Onsdag", "Torsdag", "Fredag", "Lørdag"];
    const months = ["Januar", "Februar", "Marts", "April", "Maj", "Juni", "Juli", "August", "September", "Oktober", "November", "December"];
    let date = today.getDate();
    let day = weekdays[today.getDay()];
    let month = months[today.getMonth()];
    let year = today.getFullYear();

    document.getElementById('date').textContent = `${day}, ${date}. ${month} ${year}`;
}

function updateTimezone() {
    let today = new Date();

    let timezone = 'UTC+' + Math.abs(today.getTimezoneOffset()/60);
    document.getElementById('timezone').textContent = timezone;
}
updateDate()
updateTimestamp()
updateTimezone()
setInterval(updateTimestamp, 1000)
</script>
<%- include ("../partials/footer.ejs") %>
