<%- include ("../partials/header.ejs") %>

<div id="view" class="main">
    <div class="left-side" style="max-width: 800px;">
        <div id="news">
        <h2 style="text-align: center;">Søgeresultater</h2>
        <% if (articles.length > 0) { %>
            <% articles.forEach(article => { %>
            <div class="article-large">
                <div class="banner" id="banner" style="background-image: linear-gradient(to bottom, transparent 30%, #363a558b 60%, #363a55e1 90%), url('<%= article.image %>');">
                    <div class="inner-banner">
                        <div class="banner-text">
                            <p class="banner-title" id="bannerTitle"><%= article.title %></p>
                            <p class="banner-publisher" id="bannerPublisher"> <%= article.source %></p>
                        </div>
                        <div class="banner-btn-section">
                            <a href="/article/<%= article.id %>"><button class="btn btn-secondary" id="bannerLink">Læs hele artiklen</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
            </div>
            <div class="inner-header">
                <button class="btn btn-secondary" id="loadMore">Indlæs flere</button>
            </div>
        <% } else { %>
            <p>Ingen artikler matcher din søgning.</p>
        <% } %>
    </div>
</div>

<script>

    let news = document.getElementById('news');
    let page = 1;

    if (<%= articles.length %> > 0) {
        let loadMore = document.getElementById('loadMore');

        if (<%= articles.length %> < 12) {
            loadMore.style.visibility = 'hidden';
        }

        loadMore.addEventListener('click', async () => {
        let articles = document.querySelectorAll('.article-div');
        let newArticles = await fetch(`/search/loadmore/${page}/<%= query ? query: '%20' %>/<%= publisher ? publisher: '%20' %>`)
            .then(res => res.json());

        newArticles.forEach(article => {
            // Add the article to the news element:

            let articleDiv = document.createElement('div');
            articleDiv.classList.add('article-large');
            articleDiv.innerHTML = `
                <div class="banner" id="banner" style="background-image: linear-gradient(to bottom, transparent 30%, #363a558b 60%, #363a55e1 90%), url('${article.image}');">
                    <div class="inner-banner">
                        <div class="banner-text">
                            <p class="banner-title" id="bannerTitle">${article.title}</p>
                            <p class="banner-publisher" id="bannerPublisher">${article.source}</p>
                        </div>
                        <div class="banner-btn-section">
                            <a href="/article/${article.source}"><button class="btn btn-secondary" id="bannerLink">Læs hele artiklen</button></a>
                        </div>
                    </div>
                </div>
            `;
            news.appendChild(articleDiv);
        });

        page++;
        });
    }

</script>

<%- include ("../partials/footer.ejs") %>