<%- include ("../partials/header.ejs") %>

<div class="weather-container">
  <div class="forecast-container">
    <p class="h2">Forecast</p>
    <% forecast.forEach(weatherData => { %>
      <div class="forecast-small">
        <p class="forecast-day-name"><%= weatherData.date.toString().slice(0,11) %></p>
        <p class="forecast-day-temp"><%= weatherData.degrees %></p>
        <p class="forecast-day-temp"><%= weatherData.weathercode %></p>
      </div>

    <% }) %>
  </div>
  <div class="historical-container">
    <p class="h2">Historical (30 days)</p>
  </div>
</div>



<!-- <div id="historical">
    <h1>Historical (last 30 days)</h1>
  
    <% historical.forEach(historical => { %>
      
        <p class="h3"><%= historical.degrees %> Degrees at <span>Date: <%= historical.date.toString().slice(0,11) %></span></p>
      </li>
    <% }) %>
  -->

